.item-container {
    width: 100%;
    padding: 0px;
    position: relative;
}

.item-container .item-container {
    padding: 0px;
}

.item-container span {
    line-height: 40px;
}

.item-container a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.item-container a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.item-container .nextBtn {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.item-container .prevBtn {
    cursor: pointer;
}