@import url('https://fonts.googleapis.com/css2?family=Lato');
.App {
    width: 100%;
    margin: auto;
    max-width: 420px;
    min-height: 174px;
    display: block;
    background-color: #EEEEEE;
    padding: 7px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    border-bottom: black 16px solid;
    border-top: black 16px solid;
}

.mainImage {
    margin: auto;
    display: block;
    max-width: 78px;
}